<table class="table">
  <thead>
  <tr>
    <th scope="col">IMG</th>
    <th scope="col">title</th>
    <th scope="col">ScreeningTime</th>
    <th scope="col">TotalSeats</th>
    <th scope="col">FreeSeats</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let screening of screenings">
    <td><img [src]="screening.imageUrl" alt="poster" height="70"></td>
    <td>{{ screening.title }}</td>
    <td>{{screening.screeningTime}}</td>
    <td>{{ screening.totalSeats}}</td>
    <td>{{ screening.freeSeats}}</td>
  </tr>

  </tbody>
</table>
